@using Model
@model Model.ViewModel.RoleInfoViewModel
@{
    ViewBag.Title = "AddRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddRole</h2>

<div class="row">
    @Html.BeginForm("AddRole","Roles",FormMethod.Post)
    <div class="form-group col-md-4">
        Role Name
        @Html.TextBoxFor(o => o.Name, new { @class="form-control"})
    </div>
    <div class="col-md-4">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</div>
